/* Base styles */
.calendarContainer {
  max-width: 100%;
}

.eventsList {
  margin-top: 20px;
}

/* modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
}

.modalContent {
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 600px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 20px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.modalContent h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modalContent h2 {
  font-weight: bold;
}

.modalContent p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Larger screens */
@media (min-width: 768px) {
  .calendarContainer,
  .eventsList {
    width: 90%;
    margin: auto; /* Centering */
  }

  .eventsList {
    display: none;
  }
}

/* Medium-sized screens, like tablets */
@media (min-width: 480px) and (max-width: 767px) {
  .calendarContainer,
  .eventsList {
    width: 90%;
    margin: auto;
  }

  .eventsList {
    padding: 15px;
    border-top: 1px solid #bbb;
  }
  
  .hoveredEvent {
    display: none;
  }
}

/* Smaller screens, like mobile phones */
@media (max-width: 479px) {
  .calendarContainer,
  .eventsList {
    width: 100%;
    margin: auto;
  }

  .eventsList {
    padding: 10px;
    border-top: 1px solid #aaa;
  }

  .hoveredEvent {
    display: none;
  }
  .hideEventContent {
   display: none
  }

  .fc .fc-media-screen .fc-direction-ltr .fc-theme-standard{
    height: 100vh
  }

}
