@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Day Header */
.fc-col-header {
  background-color: black;
}

/* Scroll Y event  */
.fc-daygrid-day-events {
  overflow-y: auto;
  max-height: 70px; /* Adjust as necessary */
}
.fc-daygrid-day-top {
  position: relative;
  z-index: 2;
}

/* Event box style */
.fc-daygrid-day {
  height: 120px; /* Adjust the height value as needed */
}
.fc .fc-daygrid-event-harness{
  margin-bottom: 2px;
}
.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding: 1px 1px 1px 6px;
}

@media (max-width: 479px) {
  .fc-daygrid-day {
    height: 100px; /* Adjust the height value as needed */
  }
}